#wrapper{
  margin: 10px auto 10px auto;
  width: 600px;
  height: 500px;
  display: inline-block;
  vertical-align: top;
}
.index{
  width: 290px;
  display: inline-block;
  vertical-align: top;
}
.index *{
  display: block;
}
form{
  display: block;
}
h5, h5+p, .comment{
  margin-left: 25px;
}
header *{
  display: inline-block;
}
#headright{
  position: relative;
  left: 330px;
}